<div class="login-body">
<div class="background">

   <div class="help-background">
       <div class="appname">
           <span>Out of office</span>
           <p>Experience simple employee time-off booking</p>
       </div>
    <div class="login-form">
        <h1>Login</h1>
        <p>Enter your username and password</p>
    <div class="inputs">
        <input type="text" id = "username" placeholder="Username">
        <input type="text" id = "password" placeholder="Password">
        <button class="submit" (click)="proceed()">Sign In</button>
    </div>
    </div>

   </div>
</div>
</div>
