<div class="popup-overlay" *ngIf="hide">
    <div class="popup">
        <div class="popup-icon">
            <div class="icon">
                <i class="far fa-times-circle fa-10x"></i>
            </div>
        </div>
        <div class="topic">
            <span>Are you sure?</span>
        </div>
        <div class="popup-belowname">
            <label>Do you really want to delete this employee?</label>
        </div>
        <div class="popup-content"> 
            <div class="buttoni">
                <button class="cancel" (click)="hidePopUp()">Cancel</button>
                <button class="delete1" (click)="deleteEmployee()">Delete</button>
            </div>
            
        </div>
    </div>
    </div>   
        
