<div class="content-wrap">
    <app-menu></app-menu>
    <div class="main-content">
        <app-header></app-header>
        <div class="content settings">
            <div class="background">
                <div class="help-background">
                    <span>Add new employee</span>
                    <div class="form1">
                            <input type="text"  placeholder="First and last name">
                            <input type="email"  placeholder="E-mail">
                            <input type="text"  placeholder="Personal ID number">
                            <input type="text"  placeholder="Job role">
                            <input type="text"  placeholder="Department">

                            <input type="tel"  placeholder="Telephone number">
                            <input type="number" min="5" max="35" placeholder="Allowance">
                            <input type="text"  placeholder="Enter username">
                            <input type="password"  placeholder="Enter password">
                            <input type="password"  placeholder="Confirm password">
                        <div class="buttons">
                            <button class="cancel">Cancel</button>
                            <button class="submit">Submit</button>
                        </div>
                    </div>
                </div>

        </div>
    </div>
</div>
