<div class="content-wrap">
    <app-menu [role]="'employee'"></app-menu>
    <div class="main-content">
        <app-header *ngIf="user"  [user]="user"></app-header>
        <div class="content">
            <div class="content-left">
                <span class="title">Statistics</span>
               <div class="statistics first">
                   <span class="number">{{info.remainingDays}}</span>
                   <div class="stat-contents">
                   <span>Days remaining out of {{info.allowance}} in Allowance</span>
                </div>
               </div>
               <div class="statistics second">
                <span class="head">Used so far</span>
                <div class="types">
            <div class="types-left">
                <span>Holiday:</span>
                <span>Sick leave:</span>
            </div>
            <div class="types-right">
                <span>7</span>
                <span>4</span>
            </div>
            </div>
        </div>
            </div >
            <form class="settings-form" (ngSubmit)="submitForm()">
                <div class="settings-name">
                  <span class="change-pass"> Holidays: </span>
                </div>
    
                <div class="conf-new-class">
                  <label style="padding-right: 18px;">Choose holiday type:</label>
                  <select style="min-width: 111px;" [formControl]="selectControl" name="demo" id="#" [disabled]="tmpDisabled">
                    <option 
                      *ngFor="let type of types"
                      selected="selected"
                      value="{{ type.id }}"
                    >
                      {{ type.holidayType.displayName }}
                    </option>
                  </select>
                </div>
    <!--matTooltip="The holiday is already chosen!"-->
                <div class="settigns-buttons">
                  <button nzType="primary" class="submit" [disabled]="tmpDisabled">Submit</button>
                </div>
              </form>
            </div>
        <div (click)="doSomething()" class="plusbutton">
            <i class="fas fa-plus-circle"></i>
        </div>
    </div>
    </div>
    <app-requestform *ngIf="show" [id]="user.id"></app-requestform>
    
