.outerDiv{
    position: fixed;
    right: -112px;
    top: 175px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
    z-index: 100;
    background-color: white;
    padding: 20px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 2px 2px 9px -1px #000;
    border-radius: 15px;
    p {
        font-weight: bold;
    }

    .particularNotification:hover{
        border-bottom: 0.5px solid lightgray;
        background-color: rgb(240, 240, 240);
    }

    #textDiv{
        font-size: small;
        font-weight: lighter;
        padding: 0%;

        #approvedBy{
            font-style: italic;
            color: gray;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    #iconDiv{
        width: 15%;
    }
}

.outerDiv::before{
    position: absolute;
    content: " ";
    width: 17px;
    height: 17px;
    top: -8px;
    right: 35px;
    background: #FFFFFF;
    box-shadow: -3px -3px 4px -2px #626262;
    transform: rotate(45deg);
    }


