.login-body{
font-family: 'Trebuchet MS', sans-serif;
display: flex;
position: absolute;
width: 100%;
height: 100%;
.login-form{
    width: 100%;
    border: black;
    padding-top: 15%;
    padding-left: 8%;
    color: rgb(98,98,98);
    h1{
      font-size:45px;
      padding-top: 5px;
    }
    p{
      font-size: 20px;
      padding-bottom: 10px;
    }
    .inputs{
        display: flex;
        flex-direction: column;
        > input{
            margin-top: 20px;
            height: 38px;
            padding: 12px;
            border-radius: 5px;
            width: 345px;
            border: 1px solid rgb(98,98,98);
            &:hover {
              border-color: gold;
            }
        }
        ::placeholder{
          font-size: 15px;
        }
        .submit {
            padding: 5px;
            font-size: 15px;
            border-color: 	 #5900b3;
            text-align: center;
            transition: 0.5s;
            background-color: white;
            background-size: 200% auto;
            color: #5900b3;            
            box-shadow: 0 0 20px white;
            border-radius: 10px;
            display: block;
            width: 180px;
            height: 35px;
            margin: 20px;
            margin-left: 166px;
          }

          .submit:hover {
            background-position: right center; /* change the direction of the change here */
            color: #e3d7f7;
            text-decoration: none;
          }
         
        
    }
}
.background{
    width: 100%;
    display:flex;
    background-image: url("../../../assets/img/—Pngtree—purple gradient low polygon background_1266092.jpg");
    background-size: contain;
    .help-background-left{

      width: 100%;
      height: 100%;
      background: linear-gradient(135deg, to bottom right, transparent 0%, transparent 0%, #fff 60%, #fff 100%);

}
    .help-background{

        width: 100%;
        height: 100%;
        background: linear-gradient(-142.9deg, transparent 0%, transparent 40%, #fff 40%, #fff 60%);  
        .appname{
          text-align: center;
          padding-right: 50px;
          padding-top: 35px;
          display:flex;
          flex-direction: column;
          float:right;
          span{
            float: right;
            color: white;
            font-size: 65px;
            font-weight: 900;
            text-align-last: right;
            padding-bottom: 0%;
          }
          p{
            margin-bottom: -1rem;
          }
          .first-p{
            float: right;
            color: white;
            font-size: 25px;
            font-weight: 0;
            padding-left: 225px;
            padding-bottom: 0%;
          }
          .second-p{
            float: right;
            color: white;
            padding-top: 2px;
            font-size: 25px;
            font-weight: 0;
            text-align: right;
          }
        }

}
}

}