.popup-overlay{
    font-family: 'Trebuchet MS', sans-serif;
    .popup-window{
        border-radius: 5px;
        position: fixed;
        width: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        background-color: white;
        border: black 1px solid;
        padding: 20px;
       
        .popup-name{
            padding-top: 20px;
            padding-bottom: 30px;
            span{
                font-size: 30px;
                text-align: center;
                justify-content: center;
                display: flex;
            }
        }

        .popup-content-window{
                font-size: 17px;
                display: inline;
                width: inherit;
                .space{
                    width: 8%;
                    display: inline-block;
                }
                .middle_space{
                    display: inline-block;
                    width: 10%;
                }
            .popup-date-window{
                width: inherit;
                padding-top: 3px;
                display: inline;
                padding-bottom: 20px;
                
                .popup-start-date-window{
                    justify-content: center;
                    display: inline;
                    input{
                        border-radius: 10px;
                        height: 32px;
                        border: 1px solid gray;
                        border-color: 1px solid gray;
                        background-color: white;
                        padding-left: 5px;
                        &:focus{
                            outline: none;
                        }
                    }
                   
                    .start{
                       padding-right: 20px;  
                    }    
                }
                .popup-end-date-window{
                    justify-content: center;
                    display: inline;
                    background-color: white;
                    input{
                        padding-left: 5px;
                        border: 1px solid gray;
                        border-color: 1px solid gray;
                        border-radius: 10px;
                        height: 32px;
                        &:focus{
                            outline: none;
                        }
                    }
                      
                .end{
                    padding-right: 20px;  
                }
                }
            }
    
            .leave-type{
                padding-bottom: 20px;
                padding-top: 20px;
                .leave-space{
                    display: inline-block;
                    width: 10%;
                }
                label{
                    padding-left: 8%;
                    padding-right: 15px;
                }
                select{
                    padding-left: 5px;
                    height: 32px;
                    border-radius: 10px;
                    width: 68%;
                    &:focus{
                        outline: none;
                    }
                }
            }
            .comment{
                padding-bottom: 50px;
                padding-left: 8%;
                width: 100%;
                textarea{
                    height: 100px;
                    border-radius: 10px;
                    max-height: 200px;
                    min-height: 50px;
                    width: 90%;
                    &:focus{
                        outline: none;
                    }
                }
                ::placeholder{
                   padding-top: 5px;
                   padding-left: 5px;
                   position: absolute;
                }
            }

            .buttoni{
                padding-left: 8%;
                padding-right: 8.5%;
                padding-bottom: 30px;
                    .submit {background-image: linear-gradient(to right, #6441A5 0%, #2a0845  51%, #6441A5  100%)}
                    .submit {
                        float: right;
                        font-size: 17px;
                        text-align: center;
                        background-size: 200% auto;
                        color: white;            
                        box-shadow: 0 0 20px #eee;
                        border-radius: 10px;
                        width: 125px;
                        height: 32px;
                        border-color: transparent;
                      }
            
                      .submit:hover {
                        background-position: right center; /* change the direction of the change here */
                        color: #fff;
                        text-decoration: none;
                      }

                      .cancel{
                        background-image: linear-gradient(to right, black 0%, gray  51%, gray  100%);
                        font-size: 17px;
                        text-align: center;
                        background-size: 200% auto;
                        color: white;            
                        box-shadow: 0 0 20px #eee;
                        border-radius: 10px;
                        width: 125px;
                        height: 32px;
                        border-color: transparent;
                    }
                      
                      .cancel:hover {
                        background-position: right center; /* change the direction of the change here */
                        color: #fff;
                        text-decoration: none;
                      }
                     
                    }
        }
   
    }
}