<div class="header" [ngClass]="{settings:settings}">
  <div class="user">
      <img src="../../../assets/img/viber_image_2021-05-07_22-45-19.jpg">
      <div class="user-info">
        <span>{{user.firstnameLastName}}</span>
        <span>{{user.email}}</span>
      </div>
      <div class="notif" (click)="doSomething()">
          <i class="far fa-bell">
            <span class="badge rounded-pill badge-notification bg-danger" style="color: white;">1</span>
          </i>
      </div>
  </div>
</div>

<app-listnotification *ngIf="show"></app-listnotification>
