<div class="header" [ngClass]="{settings:settings}">
  <div class="user">
    <i class="far fa-user-circle fa-8x"></i>
      <div class="user-info">
        <nz-spin class="spinner"  *ngIf="!user.firstnameLastName" nzSimple></nz-spin>
        <span>{{user.firstnameLastName}}</span>
        <span>{{user.email}}</span>
      </div>
      <div class="notif" (click)="doSomething()">
          <i class="far fa-bell">
            <span *ngIf="numOfnotifications" class="badge rounded-pill badge-notification bg-danger" style="color: white;">{{numOfnotifications}}</span>
          </i>
      </div>
  </div>
</div>

<app-listnotification  [notif]="notif" *ngIf="show"></app-listnotification>
