<div class="content-wrap">
    <app-menu [role]="'admin'"></app-menu>
    <div class="main-content">
        <app-header *ngIf="user"  [user]="user"></app-header>
        <div class="content calendars">
            <div class="content-left">
                <span class="admin-title">Employees leave records</span>
                <input class="start-date" type="date" id="start" name="leave-start"
                value="2021-07-22"
                min="2021-01-01" max="2021-12-31">
            </div>
            <div class="gap">

            </div>
            <div class="content-right">
                <span class="hidden-content" style="visibility: hidden;">Create new leave request</span>
                <input class="start-date" type="date" id="start" name="leave-start"
                value="2021-03-12"
                min="2021-01-01" max="2021-12-31">
            </div>
            <div class="gapTwo">

            </div>
    </div>
    <div class="table">
        <nz-table #nzTable [nzData]="listOfDisplayData" [nzLoading]='loading' nzTableLayout="fixed">
            <thead>
            <tr>
                <th nzCustomFilter>
              Name
              <nz-filter-trigger  class="search" [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                <i class="fas fa-search"></i>
              </nz-filter-trigger>
            </th>
            <th>Department</th>
            <th>Leave Type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of employees">
            <td>{{ data.firstnameLastName }}</td>
            <td>{{ data.department.displayName }}</td>
            <td></td>
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" class="input-name"/>
            <button nz-button  nzSize="small" nzType="primary" (click)="search()" class="search-button">
              Search
            </button>
            <button nz-button class="reset" nzSize="small" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
    </div>
    </div>
    <app-requestform *ngIf="show"></app-requestform>
    

