<div class="popup-overlay" *ngIf="hide">
<div class="popup-window">
    <div class="popup-name">
        <span>Create new leave request</span>
    </div>
    <div class="popup-content-window">
        <div class="popup-date-window">
            <div class="space">
            </div>
            <div class="popup-start-date-window">
                <label class="start" for="start">Start date:</label>
                <input class="date" type="date" id="start" name="leave-start"
                    value="2021-07-22"
                    min="2021-01-01" max="2021-12-31">
            </div>
            <div class="middle_space">
            </div>
            <div class="popup-end-date-window">
                <label class="end" for="end">Number of days:</label>
                <input class="date" type="number" id="num">
                <div *ngIf="date1Error" style="color: red; float: left; font-size: 15px;">
                    Incorrect input!
                </div>
                <div *ngIf="date2Error" style="color: red; float: left; font-size: 15px;">
                    Number of days are not below allowance days
                </div>
            </div>
            <div class="space">
            </div>
        </div>
        <div class="leave-type">
            <label>Leave type:</label>
            <select [formControl]="selectControl" name="demo" id="#">
                <option *ngFor="let type of types" selected="selected" value="{{type.id}}">{{type.displayName}}</option></select>
                <div *ngIf="option1Error" style="color: red; float: left; font-size: 15px;">
                    Option cannot be empty
                  </div>
            </div>

        <div class="comment">
            <textarea  type="text" id = "comment" placeholder="Comment"></textarea>
        </div>

        <div class="buttoni">
            <button class="cancel" (click)="hidePopUp()">Cancel</button>
            <button class="submit" (click)="createRequest()">Submit</button>
            <div class="space">
            </div>
        </div>
        
    </div>
</div>
leave-space  
    
