
    <div class="content" >
      <div class="content-right" style="width: 100%">
        <span class="title">Leave request</span>
        <div class="table">
          <nz-table
            #nzTable
            [nzData]="requests"
            nzTableLayout="fixed"
            [nzScroll]="{ y: '440px' }"
            [nzFrontPagination]="false"
          >
            <thead>
              <tr>
                <th>Type</th>
                <th>Dates</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests">
                <td>{{ request.leave_type.displayName }}</td>
                <td>From {{ request.startDate }} to {{ request.endDate }}</td>
                <td>{{ request.leave_status.displayName }}</td>
                <td>
                  <div class="value actions">

                    <span
                      class="enabled"
                      style="float: left;"
                      [ngClass]="{ disabled: request.leave_status.code != 'P' }"
                      >Cancel</span
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input
                  type="text"
                  nz-input
                  placeholder="Search name"
                  [(ngModel)]="searchValue"
                  (click) = "deleteRequest()"
                  class="input-name"
                />
                <button
                  nz-button
                  nzSize="small"
                  nzType="primary"
                  (click)="search()"
                  class="search-button"
                >
                  Search
                </button>
                <button
                  nz-button
                  class="reset"
                  nzSize="small"
                  (click)="reset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </nz-dropdown-menu>
        </div>
      </div>
    </div>


