 <div class="name">
      <span class="title">Active Leave Requests</span>
    </div>
        <div class="table">
          <nz-table
            #nzTable
            [nzData]="requests"
            [nzLoading]="loading"
            nzTableLayout="fixed"
            [nzScroll]="{ y: '440px' }"
            [nzFrontPagination]="false"
          >
            <thead>
              <tr>
                <th>Employee Name</th>
                <th>Type</th>
                <th>Dates</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let request of requests">
                <td>{{ request.employeeName }}</td>
                <td>{{ request.leave_type.displayName }}</td>
                <td>From {{ request.startDate }} to {{ request.endDate }} 
                </td>
               
                <td>
                  <div class="value">
                    <span
                      class="active"
                      (click)="show = !show; openPopup(request);"
                      [ngClass]="{ disabled: request.leave_status.code != 'P' }"
                      >View</span
                    >
                  </div>
                </td>
              </tr>
            </tbody>
          </nz-table>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <div class="ant-table-filter-dropdown">
              <div class="search-box">
                <input
                  type="text"
                  nz-input
                  placeholder="Search name"
                  [(ngModel)]="searchValue"
                  class="input-name"
                />
                <button
                  nz-button
                  nzSize="small"
                  nzType="primary"
                  (click)="search()"
                  class="search-button"
                >
                  Search
                </button>
                <button
                  nz-button
                  class="reset"
                  nzSize="small"
                  (click)="reset()"
                >
                  Reset
                </button>
              </div>
            </div>
          </nz-dropdown-menu>
        </div>

<app-viewrequest [popupData]="popupData" *ngIf="show"></app-viewrequest>
