<div class="content-wrap">
    <app-menu></app-menu>
    <div class="main-content">
        <app-header [settings]="settings"></app-header>
        <div class="content settings">
            <div class="background">
                <div class="help-background">
                    <div class="form">
                        <span>
                            Change you password
                        </span>
                        <input type="text"  placeholder="Username">
                        <input type="text"  placeholder="Old password">
                        <input type="text"  placeholder="New password">
                        <input type="text"  placeholder="Confirm new password">
                        <div class="buttons">
                        <button class="cancel">Cancel</button>
                        <button class="submit">Submit</button>
                    </div>
                    </div>
                </div>

        </div>
        <div class="plusbutton">
            <i class="fas fa-plus-circle"></i>
        </div>
    </div>
    </div>
    
    